<!DOCTYPE html>
<html>
<head>
    <title>Submit OTP</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\style.css">
</head>
<body>
    <div class="container">
        <h2>Submit OTP</h2>
        <p>Enter the OTP you received through your email to reset your password.</p>
        <form action="\check_otp" method="post">
            <label for="otp">OTP:</label>
            <input type="text" id="otp" name="otp" required><br><br>
            <input type="submit" value="Verify OTP">
        </form>
    </div>
</body>
</html>
